@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Londrina+Solid:wght@100;300;400;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    height: 100vh;
    width: 100vw;
    background-image: url(images/Logo\(1\).png);
    background-size: cover;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  }

  li {
    list-style: none;
    text-transform: uppercase;
}

a{
    text-decoration: none;
    font-size: 1rem;
    color: #000;
}

header {
    position: relative;
    padding: 0 2rem;
    background-color: #34495E;
    width: 100%;
}

.navbar {
    height: 70px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a img {
    width: 70px;
    position: absolute;
    left: 18px;
    top: 3px;
}

.navbar .links {
    display: flex;
    gap: 2rem;
}

.navbar .links li a {
    color: #f39c12;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

.navbar .menu-button {
    color: #fff;
    font-size: 1.5rem;
    cursor: pointer;
    display: none;
}

.action-button {
    position: relative;
    right: -10px;
    background-color: #E67E22;
    color: #fff;
    border: 1px solid #E67E22;
    padding: 0.5rem 1.2rem;
    border-radius: 10px;
    outline: none;
    font-size: 1rem;
}

.action-button:hover {
    border: 1px solid #fff;
}

/* Conteneur de la citation */
.citation-section {
    height: 100vh; /* 30% de la hauteur de l'écran */
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    padding: 20px;
    text-align: center;
    color: #ffffff; /* Couleur du texte */
  }
  
  /* Recouvrement pour améliorer la lisibilité du texte */
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Couleur de fond semi-transparente */
  }
  
  /* Style du texte de la citation */
  .citation-text {
    font-family: 'Open Sans', sans-serif; /* Police élégante pour la citation */
    font-size: 3em;
    margin: 0 0 20px 0;
    z-index: 1; /* Assure que le texte soit au-dessus de l'overlay */
  }
  
  /* Style du bouton CTA */
  .cta-button {
    font-family: 'Montserrat', sans-serif; /* Police du bouton */
    font-size: 1em;
    color: #ffffff; /* Couleur du texte */
    background-color: #E67E22; /* Couleur de fond vert émeraude */
    text-transform: uppercase;
    padding: 10px 20px;
    font-family: 'Montserrat', sans-serif;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
    z-index: 1; /* Assure que le bouton soit au-dessus de l'overlay */
  }
  
  .cta-button:hover {
    background-color: #34495E; /* Couleur de fond légèrement plus foncée au survol */
  }

/* Style général pour la section */
.container-two-section {
    padding: 10px 25%; /* Paddings en pourcentage pour les côtés */
    position: relative; /* Pour permettre le positionnement absolu des icônes */
    background-color: #f9f9f9; /* Couleur de fond optionnelle */
  }
  
  /* Icônes à gauche et à droite */
  .container-two-section::before,
  .container-two-section::after {
    content: '';
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    width: 300px;
    height: 350px;
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  /* Icône à gauche */
  .container-two-section::before {
    left: -50px;
    background-image: url('images/what-icon.png'); 
  }
  
  /* Icône à droite */
  .container-two-section::after {
    right: 0;
    background-image: url('images/Sun-icon.png'); 
    color: #e67e22;
  }
  

.container-two-section h1 {
    color: #437eb9;
    padding: 15px 0;
    font-weight: bold;
    font-family: "Montserrat", sans-serif;
}

h1 .club {
    color: #e67e22;
    font-family: "Montserrat", sans-serif;
}

h1 .what {
    color: #379841ed;
    font-family: "Montserrat", sans-serif;
}

.container-two-section .read-more {
    padding: 30px 0;
}

.container-two-section p {
    font-family: "Poppins", sans-serif;
    font-size: 1.3rem;
    font-weight: 600;
}

.container-two-section .read-more a {
    border: 1px solid black;
    padding: 10px 30px;
    border-radius: 40px;
    font-family: "Poppins", sans-serif;
}

.container-two-section .read-more a:hover{
    background-color: #34495E;
    color: #fff;
    border: #fff;
}

.container-two-section blockquote {
    font-family: "Londrina Solid", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color: rgba(46, 204, 113,0.7);
}

.container-two-section cite {
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

/* ******************************************************************** */

/* Style général pour les cartes */
.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Couleur de fond optionnelle */
}

/* Style pour chaque carte */
.card {
    position: relative; /* Nécessaire pour les pseudo-éléments */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    background-color: white; /* Couleur de fond de la carte */
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    height: 50vh;
}

.card img {
    width: 100px;
}

/* Style pour les icônes */
.card i {
    font-size: 2rem; /* Taille de l'icône */
    color: #34495E; /* Couleur de l'icône */
    margin-bottom: 10px;
}

/* Style pour les paragraphes */
.card p {
    margin: 0;
    font-size: 2rem;
    color: #333; /* Couleur du texte */
    font-family: "Montserrat", sans-serif;
}

/* ************************************************************************************** */

.cards-container-dom {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

/* Style pour les cartes avec image de fond */
.card-with-bg {
    background-size: cover;
    background-position: center;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.card-with-bg::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Couleur de superposition sombre */
    border-radius: 50px;
}

.card-with-bg p {
    position: relative;
    z-index: 1;
    color: white; 
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

.what-text {
    padding: 50px 40%;
}

.what-text h1 {
    font-family: "Poppins", sans-serif;
    /* font-weight: 700; */
}

/* ********************************************************************************* */

.container-engagement {
    padding: 10px 25%; /* Paddings en pourcentage pour les côtés */
    position: relative; /* Pour permettre le positionnement absolu des icônes */
    background-color: #f9f9f9; /* Couleur de fond optionnelle */
}

.container-engagement h1 {
    margin: 20px 0;
    color: #e67e22;
    padding: 15px 0;
    font-weight: bold;
    font-family: "Poppins", sans-serif;
}

.container-engagement p {
    margin: 20px 0;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
}

.container-engagement blockquote {
    font-family: "Londrina Solid", sans-serif;
    font-size: 2rem;
    margin-bottom: 1rem;
    color : rgba(52, 152, 219,0.7);
}

.container-engagement cite {
    padding: 20px;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
}

/* ************************************************************ */

.start {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: -80px;
}

.start img {
    margin: 30px;
    width: 100px;
}

.next-collaboration {
    background-color: #34495E;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 10px;
    padding: 50px;
}

.sub {
    padding: 0 10rem;
}

.sub h2 {
    font-size: 2rem;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.sub p {
    font-family: "Montserrat", sans-serif;
    font-size: 1.3rem;
    color: #fff;
}

.next-collaboration a {
    border: 1px solid none;
    border-radius: 50px;
    padding: 15px 30px;
    font-size: 1.3rem;
    font-family: "Poppins", sans-serif;
    background-color: #e67e22;
    color: #fff;
}

/* Style général pour la section d'actualités */
/* Style général pour la section d'actualités */
.news-section {
    padding: 40px 20px;
    background-color: #f9f9f9;
}

.news-section h2 {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
    font-family: "Poppins", sans-serif;
}

.news-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

/* Style pour chaque carte d'actualité */
.news-card {
    position: relative; /* Nécessaire pour les pseudo-éléments */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 20px;
    background-size: cover;
    background-position: center;
    border-radius: 50px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    color: white;
    height: 300px; /* Hauteur fixe pour les cartes */
}

.news-card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5); /* Couleur de superposition sombre */
    border-radius: 8px;
}

.news-content {
    position: relative;
    z-index: 1; /* Pour placer le texte au-dessus de la superposition */
    color: white; /* Couleur du texte en blanc */
}

.news-content h3 {
    font-size: 1.5rem;
    margin: 0 0 10px;
    color: #c47b05;
    font-family: "Poppins", sans-serif;
}

.news-content p {
    color: #ddd;
    margin: 5px 0;
    font-family: "Montserrat", sans-serif;
}

.news-content .read-more {
    align-self: flex-start;
    text-decoration: none;
    color: #2ECC71;
    font-weight: bold;
    margin-top: 10px;
    display: inline-flex;
    align-items: center;
    font-family: "Montserrat", sans-serif;
}

.news-content .read-more i {
    margin-left: 5px;
    transition: transform 0.3s;
    color: white;
    border: 1px solid;
    border-radius: 50%; /* Pour rendre l'icône circulaire */
    padding: 8px; /* Ajustez selon la taille souhaitée */
    font-size: 15px; /* Ajustez la taille de l'icône si nécessaire */
}

.news-content .read-more:hover i {
    transform: translateX(5px);
    background-color: #2ECC71;
}

/* **************************************************************************** */

/* Footer styling */
footer {
    background-color: #333;
    color: white;
    padding: 20px 0;
}

/* Centring the slogan and bottom text */
.footer-devise, .footer-bottom {
    text-align: center;
}

.footer-devise h3 {
    margin: 0;
    font-size: 1.5rem;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Poppins", sans-serif;

}

hr {
    border: 0;
    height: 1px;
    background: white;
    margin: 20px 0;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.footer-content {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    padding: 0 20px;
}

/* Style for each section in the footer */
.footer-logo img {
    max-width: 150px;
}

.footer-contact, .footer-social {
    text-align: left;
    margin-bottom: 20px;
}

.footer-contact h4, .footer-social h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    text-transform: uppercase;
    font-family: "Poppins", sans-serif;
}

.footer-contact p {
    margin: 5px 0;
    font-family: "Montserrat", sans-serif;
    line-height: 1.8rem;
}

.footer-contact a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

.footer-contact a:hover {
    color: #2ECC71;
}

.footer-social .social-icons {
    display: flex;
    gap: 10px;
}

.footer-social .social-icons a {
    color: white;
    font-size: 1.5rem;
    transition: color 0.3s;
}

/* Specific styles for each social media icon */
.footer-social .facebook:hover,
.footer-social .facebook:active {
    color: #3b5998;
}

.footer-social .twitter:hover,
.footer-social .twitter:active {
    color: #00acee;
}

.footer-social .instagram:hover,
.footer-social .instagram:active {
    color: #e1306c;
}

.footer-social .linkedin:hover,
.footer-social .linkedin:active {
    color: #0077b5;
}

/* Style for bottom footer text */
.footer-bottom p {
    margin-top: 10px;
    font-size: 0.9rem;
    font-family: "Montserrat", sans-serif;
}

.footer-bottom a {
    color: #2ECC71;
    text-decoration: none;
}

.footer-bottom a:hover {
    text-decoration: underline;
}
